<!--
Just an example of polymer working with fulp, jade, sass.

##### Example

    <polymer-sass-jade></polymer-sass-jade>

@element polymer-sass-jade
@blurb Just an example of polymer working with fulp, jade, sass
@status alpha
@homepage 
-->
<polymer-element name="polymer-sass-jade" attributes="notitle">

  <template>

    <!-- build:css styles/polymer-sass-jade.min.css -->
    <link rel="stylesheet" href="styles/polymer-sass-jade.css" />
    <!-- endbuild -->

    <content></content>

  </template>

    <!-- build:js scripts/polymer-sass-jade.min.js -->
    <script src="scripts/polymer-sass-jade.js"></script>
    <!-- endbuild -->

</polymer-element>
